:root {
  --my-main-black: rgb(0, 0, 0);
  --my-golden-orange: rgb(240, 138, 75);
  --my-sky-blue: skyblue;
  --my-header-footer-bg-color: rgb(243, 241, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/*
  Buttons
*/

/* buttons */
button {
  font-family: 'Lato', sans-serif;
  border: none;
  cursor: pointer;
  height: 1.5rem;

  /* box-shadow: rgba(119, 117, 117, 0.66) 0 1px 0.25rem; */
  background-color: #fff;
  padding: 1%;
}

.add-button,
.items-buttons {
  border: none;
  height: 2rem;
  width: 4.5rem;
  font-family: 'Lato', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.66) 0 1px 0.25rem;
  cursor: pointer;
}

.add-button:hover,
button:hover {
  background: url(../images/item-liked-btn.png) no-repeat center;
}

.items-buttons:hover {
  background: none;
}

/*
  Header
*/
.header-container {
  box-shadow: 0.25rem 0.9rem 0.125rem;
  background-color: rgb(243, 241, 238);
  width: 100%;
  height: 5.625rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 8%;
  font-weight: bolder;
  gap: 2rem;
  padding-top: 1.25rem;
}

ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: black;
}

.logo {
  border: 0.125rem solid;
  padding: 0.625rem;
  font-weight: bold;
  border-radius: 50%;
  margin: 1% 10% 0;
}

nav a:hover {
  text-decoration: underline;
}

/*
  Main page
*/
main {
  width: 99vw;
  min-height: 100vh;
  margin: 1rem auto;

  /* overflow-x: hidden; */
}

.main-items {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  gap: 1%;
  margin: 0;
}

.item {
  /* flex: 1; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--image-placeholder-color);
  margin: 0;
  position: relative;
}

img {
  width: auto;
  height: auto;
}

.item-image {
  display: block;
  height: 80%;
}

.item-image-img {
  width: 100%;
  height: auto;
  box-shadow: 2px 3px 3px;
}

.item-wrapped-elements {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.item-wrapped-elements:first-child {
  width: 90%;
  align-self: flex-start;
}

.items-likes {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

/* implement to change the button when wlicke once */
.like-item {
  width: 100%;
  height: 100%;
  background: url(../images/like-btn.png) no-repeat;
  background-size: 100%;
}

.item-liked {
  width: 100%;
  height: 100%;
  background: url(../images/item-liked-btn.png) no-repeat;
  background-size: 100%;
}

/* Comment pop up window */

.comment-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
}

.comment-pop-up h2,
h3,
h1 {
  text-align: center;
  margin: 3%;
}

.comment-pop-up {
  position: fixed;
  top: 1.9rem;
  left: 1.9rem;
  right: 1.9rem;
  bottom: 1.9rem;
  display: flex;
  flex-direction: column;
  padding: 0.625rem 6% 0.625rem 12%;
  border: 0.125rem solid;
  overflow-y: scroll;
  z-index: 99999;
}

.comment-section {
  color: blue;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 1.9rem;
  font-weight: bolder;
}

.show-image {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.show-image img {
  width: 90%;
  height: 25rem;
}

.closeBtn {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.625rem;
}

#name {
  padding: 0.625rem;
  width: 70%;
  border-radius: 0.25rem;
  outline: none;
}

#comment {
  height: 12.5rem;
  border-radius: 0.625rem;
  padding: 0.65rem;
}

#commentBtn {
  padding: 0.625rem 0.5rem;
  width: 50%;
  border-radius: 0.625rem;
  cursor: pointer;
}

.close {
  display: none;
}

.open-pop {
  display: block;
}

/* Footer section */

.footer-section {
  border-top: 1.5px solid black;
  border-radius: 0.1%;
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: var(--my-header-footer-bg-color);

  /* position: fixed; */
  bottom: 0;
  padding: 0.5rem;
}

.footer-text {
  padding: 1rem;
  margin: 1rem;
}

/*
  MEDIA QUERIES
*/

/* Main Page */
@media (min-width: 768px) {
  body {
    width: 100vw;
  }

  main {
    width: 99vw;
    min-height: 100vh;
    margin: 1rem auto 5rem auto;

    /* overflow-x: hidden; */
  }

  .main-items {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
  }
}
