:root {
  --my-main-black: rgb(0, 0, 0);
  --my-golden-orange: rgb(240, 138, 75);
  --my-sky-blue: skyblue;
  --my-header-footer-bg-color: rgb(243, 241, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.header-container {
  box-shadow: 4px 3px 2px;
  background-color: rgb(243, 241, 238);
  width: 100%;
  height: 90px;
}

nav ul {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-left: 20%;
  font-weight: bolder;
  padding-top: 20px;
}

ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: black;
}

.logo {
  border: 2px solid;
  padding: 10px;
  font-weight: bold;
  border-radius: 50%;
}

nav a:hover {
  text-decoration: underline;
}


/* Footer section */

.footer-section {
  border-top: 1.5px solid black;
  border-radius: 0.1%;
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: var(--my-header-footer-bg-color);
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
}

.footer-text {
  padding: 1rem;
  margin: 1rem;
}
