:root {
  --my-main-black: rgb(0, 0, 0);
  --my-golden-orange: rgb(240, 138, 75);
  --my-sky-blue: skyblue;
  --my-header-footer-bg-color: rgb(243, 241, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

/*
  Buttons
*/

/* buttons */
button {
  font-family: 'Lato', sans-serif;
  border: none;
  cursor: pointer;
  height: 1.5rem;
  box-shadow: rgba(119, 117, 117, 0.66) 0 1px 4px;
  background-color: #fff;
  padding: 1%;
}

.add-button {
  border: none;
  height: 2rem;
  width: 4.5rem;
  font-family: 'Lato', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.66) 0 1px 4px;
  cursor: pointer;
  align-self: end;
}

.add-button:hover,
button:hover {
  background-color: rgb(209, 200, 190);
}

/*
  Header
*/
.header-container {
  box-shadow: 4px 3px 2px;
  background-color: rgb(243, 241, 238);
  width: 100%;
  height: 90px;
}

nav ul {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-left: 20%;
  font-weight: bolder;
  padding-top: 20px;
}

ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: black;
}

.logo {
  border: 2px solid;
  padding: 10px;
  font-weight: bold;
  border-radius: 50%;
}

nav a:hover {
  text-decoration: underline;
}

/*
  Main page
*/
main {
  min-height: 100vh;
  margin: 2rem 0;
}

.main-items {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  gap: 1%;
  margin: 0;
}

.item {
  /* flex: 1; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--image-placeholder-color);
  margin: 0 4%;
  position: relative;
}

.item-image {
  display: block;
  height: 80%;
}

img {
  width: auto;
  height: auto;
}

.item-wrapped-elements {
  display: flex;
  justify-content: space-between;
}

/* Comment pop up window */

.comment-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
}

.comment-pop-up h2,
h3,
h1 {
  text-align: center;
  margin: 3%;
}

.comment-pop-up {
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px 12%;
  border: 2px solid;
  overflow-y: scroll;
  z-index: 99999;
}

.comment-section {
  color: blue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  font-weight: bolder;
}

.show-image {
  display: flex;
  justify-content: space-between;
}

.show-image img {
  width: 80%;
  height: 300px;

  /* object-fit:top center; */
}

.closeBtn {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

#name {
  padding: 10px;
  width: 70%;
  border-radius: 4px;
  outline: none;
}

#comment {
  height: 200px;
  border-radius: 10px;
}

#commentBtn {
  padding: 10px 8px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
}

.close {
  display: none;
}

.open-pop {
  display: block;
}

.like-item {
  width: 100%;
  height: 100%;
  background: url(../images/like-btn.png) no-repeat;
  background-size: 100%;
}

.item-liked {
  width: 100%;
  height: 100%;
  background: url(../images/item-liked-btn.png) no-repeat;
  background-size: 100%;
}

/* Footer section */

.footer-section {
  border-top: 1.5px solid black;
  border-radius: 0.1%;
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: var(--my-header-footer-bg-color);

  /* position: fixed; */
  bottom: 0;
  padding: 0.5rem;
}

.footer-text {
  padding: 1rem;
  margin: 1rem;
}

/*
  MEDIA QUERIES
*/

/* Main Page */
@media (min-width: 768px) {
  body {
    width: 100vw;
  }

  .main-items {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, 1fr);
  }
}
